{% extends 'index.html' %}

{% block content %}
{% if name %}
    <h1> Your Pet Was Added !</h1>
    <br/><br/>
{% else %}
    <h1> list of pets :</h1>
    <br/>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label(
        class="form-label")}}
        {{ form.name(
        class="form-control") }}
        <br/>
        {{ form.weight.label(
        class="form-label")}}
        {{ form.weight(
        class="form-control") }}
        <br/>
        {{ form.time.label(
        class="form-label")}}
        {{ form.time(
        class="form-control") }}
        <br/>
        {{ form.submit(class="btn
        btn-dark") }}
    </form>
</div>
<br/><br/><br/>
{% for pet in our_pets %}
    {{ pet[0] }} - {{ pet[1] }} - {{ pet[2] }}
{% endfor %}
{% endif %}
{% endblock %}
